<div class="title">Your Health Tracker</div>

<div class="dash"  id="important">
  <p class="in-dash">Net Calories Today</p>
  <p class="number"><%= @calorie_intakes.calories_today -  @exercises.daily_calories_burned - @pedometer_readings.daily_step_calories%></p>
</div><br>
<div class="information">
  <div class="dash">
    <p class="in-dash">Total Calories Consumed Today</p>
    <p class="number"><%= @calorie_intakes.calories_today %></p>
    <button class="btn"><%= link_to 'Enter New', new_calorie_intake_path %></button>
  </div>
  <div class="dash">
    <p class="in-dash">Total Calories Burned Today</p>
    <p class="number"><%= @exercises.daily_calories_burned%></p>
    <button class="btn"><%= link_to 'Enter New', new_exercise_path %></button>
  </div>
  <div class="dash">
    <p class="in-dash">Total Steps Taken Today</p>
    <p class="number"><%= @pedometer_readings.daily_steps %></p>
    <button class="btn"><%= link_to 'Enter New', new_pedometer_reading_path %></button>
  </div>
</div>


<div class="foot">
  <button class="btn"><%= link_to 'Pedometer readings', pedometer_readings_path %></button>
  <button class="btn"><%= link_to 'Weigh-ins', weigh_ins_path %></button>
  <button class="btn"><%= link_to 'Calories Consumed', calorie_intakes_path %></button>
  <button class="btn"><%= link_to 'Exercises', exercises_path %></button>
</div>
