<p>Net Calories Today</p>

<p>Total Calories Consumed Today</p>
<p><%= @calorie_intakes.calories_today %></p>
<p>Total Calories Burned Today</p>

<p>Total Steps Taken Today</p>
<p><%= @pedometer_readings.daily_steps %></p>


<div class=foot><%= link_to 'Pedometer readings', pedometer_readings_path %> |
<%= link_to 'Weigh-ins', weigh_ins_path %> |
<%= link_to 'Calories Consumed', calorie_intakes_path %> |
<%= link_to 'Exercises', exercises_path %></div>
