<div id="container">
  <div id="header">
  </div>

  <div id="body">
    <div class="title">Your Health Tracker</div>
    <div class="dash"  id="important">
      <p class="in-dash">Net Calories Today</p>
      <p class="number"><%= @calorie_intakes.calories_today -  @exercises.daily_calories_burned - @pedometer_readings.daily_step_calories%></p>
    </div><br>
    <div class="information">
      <div class="dash">
        <p class="in-dash">Total Calories Consumed Today</p>
        <p class="number"><%= @calorie_intakes.calories_today %></p>
      </div>
      <div class="dash">
        <p class="in-dash">Total Calories Burned Today</p>
        <p class="number"><%= @exercises.daily_calories_burned%></p>
      </div>
      <div class="dash">
        <p class="in-dash">Total Steps Taken Today</p>
        <p class="number"><%= @pedometer_readings.daily_steps %></p>
      </div>
    </div>
  </div>

  <div id="footer">
    <button class="btn"><%= link_to 'Pedometer readings', pedometer_readings_path(user_id: @user_id) %></button>
    <button class="btn"><%= link_to 'Weigh-ins', weigh_ins_path(user_id: @user_id) %></button>
    <button class="btn"><%= link_to 'Calories Consumed', calorie_intakes_path(user_id: @user_id) %></button>
    <button class="btn"><%= link_to 'Exercises', exercises_path(user_id: @user_id) %></button>
  </div>
</div>
