<p id="notice"><%= notice %></p>

<p>
  <strong>Calories:</strong>
  <%= @calorie_intake.calories %>
</p>

<button class="btn">
<%= link_to 'Edit', edit_exercise_path(@calorie_intake) %>
</button>

<button class="btn">
<%= link_to 'All Entries', calorie_intakes_path(user_id: @user_id) %>
</button>

<button class="btn">
  <%= link_to 'Home', dashboard_index_path(user_id: @user_id) %>
</button>
