<p id="notice"><%= notice %></p>

<p>
  <strong>Calories:</strong>
  <%= @calorie_intake.calories %>
</p>

<%= link_to 'Edit', edit_calorie_intake_path(@calorie_intake) %> |
<%= link_to 'Back', calorie_intakes_path(user_id: @user_id) %>
<%= link_to 'Home', root_path(user_id: @user_id) %>
