<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @weigh_in.weight %>
</p>

<p>
  <strong>Units:</strong>
  <%= @weigh_in.units %>
</p>

<p>
  <strong>Date:</strong>
  <%= @weigh_in.date %>
</p>

<button class="btn">
  <%= link_to 'Home', root_path %>
</button>

<button class="btn">
<%= link_to 'Edit', edit_weigh_in_path(@weigh_in) %>
</button>

<button class="btn">
<%= link_to 'All Entries', weigh_ins_path %>
</button>
