<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Security key:</strong>
  <%= @user.security_key %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Home', dashboard_index_path(user_id: @user.id) %>
