<p id="notice"><%= notice %></p>

<p>
  <strong>Steps:</strong>
  <%= @pedometer_reading.steps %>
</p>

<button class="btn">
<%= link_to 'Edit', edit_pedometer_reading_path(@pedometer_reading) %>
</button>

<button class="btn">
<%= link_to 'All Entries', pedometer_readings_path(user_id: @user_id) %>
</button>

<button class="btn">
  <%= link_to 'Home', dashboard_index_path(user_id: @user_id) %>
</button>
