<p id="notice"><%= notice %></p>

<h1>Listing Exercise Entries</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Exercise Type</th>
      <th>Calories Burned</th>
      <th>Time (min)</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.description %></td>
        <td><%= exercise.exercise_type.description %></td>
        <td><%= exercise.calories_burned %></td>
        <td><%= exercise.time_in_minutes %></td>
        <td><%= exercise.date%></td>
        <td><%= link_to 'Show', exercise %></td>
        <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
        <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="btn">
<%= link_to 'New Exercise Entry', new_exercise_path(user_id: @user_id) %>
</button>

<div class="foot">
  <button class="btn"><%= link_to 'Home', dashboard_index_path(user_id: @user_id) %></button>
  <button class="btn"><%= link_to 'Pedometer readings', pedometer_readings_path(user_id: @user_id) %></button>
  <button class="btn"><%= link_to 'Weigh-ins', weigh_ins_path(user_id: @user_id) %></button>
  <button class="btn"><%= link_to 'Calories Consumed', calorie_intakes_path(user_id: @user_id) %></button>
</div>
