<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>
<p>
  <strong>Type:</strong>
  <%= @exercise.exercise_type.description %>
</p>
<p>
  <strong>Time (min):</strong>
  <%= @exercise.time_in_minutes %>
</p>
<p>
  <strong>Calories Burned:</strong>
  <%= @exercise.calories_burned %>
</p>
<p>
  <strong>Date:</strong>
  <%= @exercise.date %>
</p>

<button class="btn">
<%= link_to 'Edit', edit_exercise_path(@exercise) %>
</button>

<button class="btn">
<%= link_to 'All Entries', exercises_path(user_id: @user_id) %>
</button>

<button class="btn">
  <%= link_to 'Home', dashboard_index_path(user_id: @user_id) %>
</button>
