<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>
<p>
  <strong>Type:</strong>
  <%= @exercise.exercise_type.description %>
</p>
<p>
  <strong>Time (min):</strong>
  <%= @exercise.time_in_minutes %>
</p>
<p>
  <strong>Calories Burned:</strong>
  <%= @exercise.calories_burned %>
</p>
<p>
  <strong>Date:</strong>
  <%= @exercise.date %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path(user_id: @user_id) %>
<%= link_to 'Home', root_path(user_id: @user_id) %>
